<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="basePath">./logs</Property>
    </Properties>
  <Appenders>
        <RollingFile name="fileLogger" fileName="${basePath}/app-info.log" filePattern="${basePath}/app-info-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
    <Console name="sysout" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <Console name="syserr" target="SYSTEM_ERR">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="WARN">
      <AppenderRef ref="syserr"/>
      <AppenderRef ref="fileLogger"/>
    </Root>
    <Logger name="jxsource.util.folder.node" level="info" additivity="false">
    	<Appender-ref ref="sysout"/>
    </Logger>
    <Logger name="jxsource.util.folder.search.manager" level="debug" additivity="false">
    	<Appender-ref ref="sysout"/>
    </Logger>
    <Logger name="jxsource.util.folder.search.filter.filefilter" level="debug" additivity="false">
    	<Appender-ref ref="sysout"/>
       <AppenderRef ref="fileLogger"/>
    </Logger>
   </Loggers>
</Configuration>
<!-- 
<configuration>
    <Appender name="stderr" class="org.apache.logging.log4j.ConsoleAppender">
        <param name="threshold" value="warn" />
        <param name="target" value="System.err"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d [%t][%F:%L] : %m%n" />
        </layout>
    </Appender>

    <Appender name="stdout" class="org.apache.logging.log4j.ConsoleAppender">
        <param name="threshold" value="trace" />
        <param name="target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d [%t][%F:%L] : %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="trace" />
            <param name="LevelMax" value="info" />
        </filter>
    </Appender>

<Loggers>
    <logger name="jxsource.util.folder.search.zip" additivity="false">
    	<level value="debug"/>
    	<appender-ref ref="stdout"/>
    	<appender-ref ref="stderr"/>
    </logger>
    <root level="debug">
        <appender-ref ref="stderr" />
        <appender-ref ref="stdout" />
    </root>
    </Loggers>
</configuration>
 -->